@model IEnumerable<RedeSocial.WEB.Models.PostagemViewModel>
@{
    ViewBag.Title = "Postagens";
}

<br/>
<br />
<br />
<br />
@foreach (var item in Model)
{

    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail col-sm-12 col-md-12">

                <div class="image col-sm-1 col-md-1">
                    <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNWJmZWUyODNmMyB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1YmZlZTI4M2YzIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxNCIgeT0iMzYuNSI+NjR4NjQ8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" alt="...">
                </div>
                <div class="usuario col-sm-3 col-md-3">
                    <p>Usuario : </p>
                    <h5>@Html.DisplayFor(modelItem => item.emailUsuario)</h5>
                </div>
                <br />
                <br />
                <br />
                <br />

                <div class="caption">
                    <p>Conteudo:</p>
                    <p>@Html.DisplayFor(modelItem => item.Conteudo)</p>
                    <p><a href="#" class="btn btn-primary" role="button">Like</a> <a href="#" class="btn btn-default" role="button">Denunciar</a></p>
                </div>
            </div>
        </div>
    </div>
    <br />
        <br />
        <br />
}
