@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<div class="jumbotron">
    <h1>Allfaces</h1>
    <p class="lead">Bem vindo a maior, melhor e unica rede social verde de todos os tempos.</p>
    <p><a href="/Account/Login" class="btn btn-success btn-lg">Conectar &raquo;</a></p>
</div>

<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJCCT_5MZtJoT33TmbGT9ziDJUhKjTRtMecPcF9mLGOJU05E-m" width="500px" height="500px" alt="tiu marqui">
            <div class="caption">
                <h3>Mark Zuckerberg</h3>
                <p>Esta certamente sera a melhor rede social ja criada , tenho um receio quanto as minhas.. e melhor eu comprar logo antes que de merda </p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
      </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Jack_Dorsey_2014.jpg/220px-Jack_Dorsey_2014.jpg" width="300px" height="342px" alt="...">
            <div class="caption">
                <h3>Jack Dorsey</h3>
                <p>Uma rede social muito boa , engenhosa e de grande capacidade de crescimento</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://2.bp.blogspot.com/-EDgfGcRJ5XE/UyW7GqnjThI/AAAAAAABfso/7qVE34kxo28/s1600/mendigo.jpg" width="500px" height="500px" alt="...">
            <div class="caption">
                <h3>Um Cara Qualquer</h3>
                <p>E aqui que eu posto a foto dos meus alfaces?</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>

</div>


